section
  nav#footer-menu
    ul
      li
        a(href=config.root + 'about') About Me
      li
        a(href=config.root + 'archives') Archive
      li
        a(href=theme.rss ? theme.rss : config.root + 'atom.xml') Feed
